name: VC Notice Alarm

on:
  schedule:
    # 매일 한국시간 오전 9시 (UTC 0시), 오후 6시 (UTC 9시) 실행
    - cron: '0 0 * * *'
    - cron: '0 9 * * *'
  workflow_dispatch: # 수동 실행 버튼

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'

      - name: Install libraries
        run: |
          pip install -r requirements.txt

      - name: Run script
        run: |
          python main.py
